

.calcDisplay {
    background-color: rgb(137, 173, 161);
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    border: inset 5px black;
    font-family: "Handjet", sans-serif;
   
}

.calcBody{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(172, 105, 50); 
    
}

input{
   width: 100px;
   height: 100px;
   border-radius: 50px;
   border-bottom-width: 6px;
   background-color:  rgb(197, 151, 165);
   
   
}


#equals{
    width: 350px
}

